---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Ensure unzip is available
  become: true
  ansible.builtin.package:
    name: unzip
    state: present

- name: Check for ulauncher
  when: "'ulauncher' not in ansible_facts.packages"
  ansible.builtin.debug:
    msg: "Unable to find ulauncher in installed packages"

- name: Ensure ulauncher user service directory exists
  ansible.builtin.file:
    path: "/home/{{ user }}/.config/systemd/user/graphical-session.target.wants"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0755"

- name: Enable ulauncher service via symlink
  become: true
  ansible.builtin.file:
    src: "/usr/lib/systemd/user/ulauncher.service"
    dest: "/home/{{ user }}/.config/systemd/user/graphical-session.target.wants/ulauncher.service"
    state: link
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Ansible check directory
  become: true
  become_user: "{{ user }}"
  ansible.builtin.stat:
    path: "{{ ulauncher_settings_dir }}"
  register: settings_dir

- name: "Create settings directory for {{ user }}"
  become: true
  become_user: "{{ user }}"
  when: not settings_dir.stat.exists
  ansible.builtin.file:
    path: "{{ ulauncher_themes_dir }}"
    state: directory
    mode: "0755"

- name: Get current display server
  ansible.builtin.command:
    cmd: "grep '^#WaylandEnable=false' /etc/gdm/custom.conf"
  register: wayland_check
  changed_when: false
  failed_when: false

# https://github.com/Ulauncher/Ulauncher/wiki/Hotkey-In-Wayland
- name: "Wayland adjustments for {{ user }}"
  when: wayland_check.rc == 0 and 'gnome-shell' in ansible_facts.packages
  ansible.builtin.set_fact:
    ulauncher_settings: >-
      {{
        ulauncher_settings | combine({
          "hotkey-show-app": "<Alt>minus"
        })
      }}

- name: "Write app settings for {{ user }}"
  become: true
  ansible.builtin.copy:
    dest: "{{ (ulauncher_settings_dir, 'settings.json') | ansible.builtin.path_join }}"
    content: "{{ ulauncher_settings | to_json(indent=4) }}"
    mode: "0644"
    owner: "{{ user }}"
    group: "{{ user }}"

- name: "Write extension settings for {{ user }}"
  become: true
  ansible.builtin.copy:
    dest: "{{ (ulauncher_settings_dir, 'extensions.json') | ansible.builtin.path_join }}"
    content: "{{ ulauncher_extensions | to_json(indent=4) }}"
    mode: "0644"
    owner: "{{ user }}"
    group: "{{ user }}"

- name: "Write shortcut settings for {{ user }}"
  become: true
  ansible.builtin.copy:
    dest: "{{ (ulauncher_settings_dir, 'shortcuts.json') | ansible.builtin.path_join }}"
    content: "{}"
    mode: "0644"
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Set up themes
  loop: "{{ ulauncher_github_repo_theme }}"
  loop_control:
    loop_var: ulauncher_theme
    label: "{{ ulauncher_theme.name }}"
  ansible.builtin.include_tasks:
    file: themes.yml

...
