---

- name: Get service symlink
  become: true
  ansible.builtin.stat:
    path: "/home/{{ user }}/.config/systemd/user/graphical-session.target.wants/ulauncher.service"
  register: service_symlink_result

- name: Test service symlink
  ansible.builtin.assert:
    that:
      - service_symlink_result.stat.exists
      - service_symlink_result.stat.islnk
      - service_symlink_result.stat.lnk_target == "/usr/lib/systemd/user/ulauncher.service"
    fail_msg: "ulauncher symlink not set up as expected: {{ service_symlink_result.stat.path }}"
    quiet: true

- name: Get current display server
  ansible.builtin.command:
    cmd: "grep '^WaylandEnable=true' /etc/gdm/custom.conf"
  register: wayland_check
  changed_when: false
  failed_when: false

- name: "Wayland adjustments for {{ user }}"
  become: true
  become_user: "{{ user }}"
  when: wayland_check.rc == 0 and 'gnome-shell' in ansible_facts.packages
  ansible.builtin.set_fact:
    ulauncher_settings: >-
      {{
        ulauncher_settings | combine({
          "hotkey-show-app": "<Alt>minus"
        })
      }}

- name: Load the JSON file into a variable
  become: true
  become_user: "{{ user }}"
  ansible.builtin.slurp:
    src: "{{ ulauncher_settings_dir }}/settings.json"
  register: settings_file_content

- name: Parse the JSON file content
  ansible.builtin.set_fact:
    file_settings: "{{ settings_file_content.content | b64decode | from_json }}"

- name: Verify that the JSON file content matches the settings variable
  ansible.builtin.assert:
    that:
      - file_settings == ulauncher_settings
    fail_msg: "The settings in the JSON file do not match the expected settings from ulauncher_settings."
    quiet: true

...
