---

- name: Check for enabled ulauncher service  # noqa: command-instead-of-module
  become: true
  become_flags: "-i"
  become_user: "{{ user }}"
  ansible.builtin.command:
    cmd: systemctl --user is-enabled ulauncher.service
  register: ulauncher_enabled_status
  changed_when: false
  failed_when: false

- name: Test running ulauncher service
  ansible.builtin.assert:
    that:
      - ulauncher_enabled_status.stdout == "enabled"
    fail_msg: "ulauncher.service is not enabled (status: {{ ulauncher_enabled_status.stdout }})"
    quiet: true

- name: Get current display server
  ansible.builtin.command:
    cmd: "grep '^WaylandEnable=true' /etc/gdm/custom.conf"
  register: wayland_check
  changed_when: false
  failed_when: false

- name: "Wayland adjustments for {{ user }}"
  become: true
  become_user: "{{ user }}"
  when: wayland_check.rc == 0 and 'gnome-shell' in ansible_facts.packages
  ansible.builtin.set_fact:
    ulauncher_settings: >-
      {{
        ulauncher_settings | combine({
          "hotkey-show-app": "<Alt>minus"
        })
      }}

- name: Load the JSON file into a variable
  become: true
  become_user: "{{ user }}"
  ansible.builtin.slurp:
    src: "{{ ulauncher_settings_dir }}/settings.json"
  register: settings_file_content

- name: Parse the JSON file content
  ansible.builtin.set_fact:
    file_settings: "{{ settings_file_content.content | b64decode | from_json }}"

- name: Verify that the JSON file content matches the settings variable
  ansible.builtin.assert:
    that:
      - file_settings == ulauncher_settings
    fail_msg: "The settings in the JSON file do not match the expected settings from ulauncher_settings."
    quiet: true

...
